# Welcome to Jekyll!
# User settings
username: Red&nbsp;Teaming
user_description: Formerly worked in a non security based IT role for 15 years where I then undertook a career change into Cyber Security. <br><br>Currently working in Adversarial Simulation hacking Azure, Physical, WiFi and Network Infrastructure systems. Busily studying all things Red Teaming in my spare time. <br><br>This Blog will highlight what I learn whilst Pentesting on my way to becoming a Red Team Operator.
user_title: Ramblings of an aspiring <br>Red Teamer
email: David@redteaming.org
github_username:  Cyb3rC3lt
markdown: kramdown
highlighter: rouge
kramdown:
    input: GFM
    syntax_highlighter: rouge

# Google-analytics
google-analytics:
  id: ""

exclude: ['package.json', 'src' , 'node_modules']

title: Red Teaming
description: All things Red Teaming featuring course reviews, research, industry news as well as tips and tricks
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://redteaming.org" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
#theme: minima
#plugins:
#  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
