<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a href="mailto:David@redteaming.org"><i class="icon fa fa-envelope" aria-hidden="true"></i></a> 
        <a href="https://www.reddit.com/user/Cyb3rC3lt"><i class="icon fa fa-reddit" aria-hidden="true"></i></a> 
        <a href="https://www.linkedin.com/in/davidsprofile"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
	<a href="https://www.github.com/Cyb3rC3lt"><i class="icon fa fa-github" aria-hidden="true"></i></a>
   
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>Whoami</a>
        <a class="link" href="#projects" data-scroll>Ramblings</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
