<div class="user-details">
  <h1> Ramblings </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="crto" src="{{ "/assets/img/crto.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3 id="Certified Red Team Operator (CRTO) Review">Certified Red Team Operator (CRTO) Review</h3>
    <p>My review of the CRTO labs and exam.</p>
    <a class="project-link" href="crto.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="sektor7-ess" src="{{ "/assets/img/malware-essentials.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3 id="Sektor7 Malware Development Essentials Review">Sektor7 Malware Development Essentials Review</h3>
    <p>My review of the Sektor7 Malware Development Essentials Course.</p>
    <a class="project-link" href="sektor7-ess.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="crtp" src="{{ "/assets/img/crtp.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3 id="Certified Red Team Professional (CRTP) Review">Certified Red Team Professional (CRTP) Review</h3>
    <p>My review of the CRTP labs and exam. I took this exam in November 2022 and it was a fantastic experience using only Windows to attack Windows. Have a read if you are interested in using "Living off the land (LotL)" techniques.</p>
    <a class="project-link" href="crtp.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="crtp" src="{{ "/assets/img/oscp.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3 id="Offensive Security Certified Professional (OSCP) Review">Offensive Security Certified Professional (OSCP) Review</h3>
    <p>My review of the OSCP labs and exam. I took this exam in late September 2022.</p>
    <a class="project-link" href="oscp.html">Check it out</a>
  </div>
</div>

