<div class="user-details">
  <h1> Ramblings </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <a class="plain-link" href="crto.html"><img alt="crto" src="{{ "/assets/img/crto.jpg" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-left">
    <h3 id="Certified Red Team Operator (CRTO) Review"><a class="plain-link" href="crto.html">Certified Red Team Operator (CRTO) Review</a></h3>
    <p>I passed this excellent course in April 2023. If you like the idea of using Cobalt Strike have a read.</p>
    <a class="project-link" href="crto.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <a class="plain-link" href="sektor7-ess.html"><img alt="sektor7-ess" src="{{ "/assets/img/malware-essentials.png" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3 id="Sektor7 Malware Development Essentials Review"><a class="plain-link" href="sektor7-ess.html">Sektor7 Malware Development Essentials Review</a></h3>
    <p>My review of the Sektor7 Malware Development Essentials Course.</p>
    <a class="project-link" href="sektor7-ess.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <a class="plain-link" href="crtp.html"><img alt="crtp" src="{{ "/assets/img/crtp.jpg" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-left">
    <h3 id="Certified Red Team Professional (CRTP) Review"><a class="plain-link" href="crtp.html">Certified Red Team Professional (CRTP) Review</a></h3>
    <p>My review of the CRTP labs and exam. I took this exam in November 2022 and it was a fantastic experience using only Windows to attack Windows</p>
    <a class="project-link" href="crtp.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <a class="plain-link" href="oscp.html"><img alt="oscp" src="{{ "/assets/img/oscp.jpg" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3 id="Offensive Security Certified Professional (OSCP) Review"><a class="plain-link" href="oscp.html">Offensive Security Certified Professional (OSCP) Review</a></h3>
    <p>My review of the OSCP labs and exam. I took this exam in late September 2022.</p>
    <a class="project-link" href="oscp.html">Check it out</a>
  </div>
</div>

