<div class="user-details">
  <h1> Ramblings </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <a class="plain-link" href="sliverbof.html"><img alt="cme" src="{{ "/assets/img/sliver.jpg" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-left">
    <h3 id="Sliver BOF"><a class="plain-link" href="cobaltscripts.html">Sliver Beacon Object File</a></h3>
    <p>Adding a new Sliver BOF into the Sliver Armory and my experiences working with the Sliver C2 Framework</p>
    <a class="project-link" href="sliverbof.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <a class="plain-link" href="ntlmrelayxproxy.html"><img alt="ntlmrelayxproxy" src="{{ "/assets/img/Result.JPG" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3 id="RBCD on a Local Machine via Socks Proxy"><a class="plain-link" href="ntlmrelayxproxy.html">RBCD on a Local Machine via Socks Proxy</a></h3>
    <p>A nice little LPE trick to easily get RBCD access on a compromised machine running webdav.</p>
    <a class="project-link" href="ntlmrelayxproxy.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <a class="plain-link" href="cobaltscripts.html"><img alt="cme" src="{{ "/assets/img/CS-LOGO.jpg" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-left">
    <h3 id="Cobalt Strike Aggressor Script"><a class="plain-link" href="cobaltscripts.html">Cobalt Strike Aggressor Script</a></h3>
    <p>A simple Cobalt Strike aggressor script I developed to email me when a beacon checks in.</p>
    <a class="project-link" href="cobaltscripts.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <a class="plain-link" href="azurescoping.html"><img alt="azurescoping" src="{{ "/assets/img/AzureLogo.jpg" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3 id="Azure Scoping Overview"><a class="plain-link" href="azurescoping.html">Azure Scoping Overview</a></h3>
    <p>I recently had to figure out what type of creds and infrastructure I required for an Azure Pentest. Here are my thoughts on Azure scoping.</p>
    <a class="project-link" href="azurescoping.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <a class="plain-link" href="cme.html"><img alt="cme" src="{{ "/assets/img/cme.png" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-left">
    <h3 id="Becoming a CrackMapExec Developer"><a class="plain-link" href="cme.html">Becoming a CrackMapExec Developer</a></h3>
    <p>Some thoughts on my little foray into the world of CrackMapExec Python development.</p>
    <a class="project-link" href="cme.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <a class="plain-link" href="crto.html"><img alt="crto" src="{{ "/assets/img/crto.jpg" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3 id="Certified Red Team Operator (CRTO) Review"><a class="plain-link" href="crto.html">Certified Red Team Operator (CRTO) Review</a></h3>
    <p>I passed this excellent course in April 2023. If you like the idea of using Cobalt Strike have a read.</p>
    <a class="project-link" href="crto.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <a class="plain-link" href="adcs.html"><img alt="adcs" src="{{ "/assets/img/adcslogo.jpg" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-left">
    <h3 id="Abusing ADCS ESC8"><a class="plain-link" href="adcs.html">Abusing ADCS ESC8</a></h3>
    <p>Here is the story of my first internal pentest where I got DA abusing ESC8.</p>
    <a class="project-link" href="adcs.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <a class="plain-link" href="sektor7-ess.html"><img alt="sektor7-ess" src="{{ "/assets/img/malware-essentials.png" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3 id="Sektor7 Malware Development Essentials Review"><a class="plain-link" href="sektor7-ess.html">Sektor7 Malware Development Essentials Review</a></h3>
    <p>My review of the Sektor7 Malware Development Essentials Course.</p>
    <a class="project-link" href="sektor7-ess.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <a class="plain-link" href="crtp.html"><img alt="crtp" src="{{ "/assets/img/crtp.jpg" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-left">
    <h3 id="Certified Red Team Professional (CRTP) Review"><a class="plain-link" href="crtp.html">Certified Red Team Professional (CRTP) Review</a></h3>
    <p>My review of the CRTP labs and exam. I took this exam in November 2022 and it was a fantastic experience using only Windows to attack Windows</p>
    <a class="project-link" href="crtp.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <a class="plain-link" href="oscp.html"><img alt="oscp" src="{{ "/assets/img/oscp.jpg" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3 id="Offensive Security Certified Professional (OSCP) Review"><a class="plain-link" href="oscp.html">Offensive Security Certified Professional (OSCP) Review</a></h3>
    <p>My review of the OSCP labs and exam. I took this exam in late September 2022.</p>
    <a class="project-link" href="oscp.html">Check it out</a>
  </div>
</div>
